<%= currently_at 'Home' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if notice %>
    <div id="notice" style="z-index:2">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div id="alert" style="z-index:2">
      <%= alert %>
    </div>
  <% end %>

  <div class="topstatement">
    <% if @member.mainlifetitle == nil %>
      Now it's time to get started!  The boxes below will show up on your homepage to give you reminders of your high-level objectives.  But since you just joined, they are a blank slate.<br/><br/>
      So first thing, let's give these squares below your personal touch. Hover (or touch) each to flip over and edit!
    <% else %>
      You can update/edit your tiles below by clicking (or touching) to flip and edit.  Then click the save button.
    <% end %> 
  </div>

<div class="topbanner">
  <%= f.submit 'Save', :class => 'button-link', :style => 'font-size:1.1em' %> Your Changes
  <% if @member.mainlifetitle != nil %> 
    or <%= link_to 'Go to Home', root_path, :class => 'button-link' %>
  <% end %>
</div>

<div class="box">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
    <div class="flipper">
      <div class="front" style="background:black">
        <div class="sectiontitle" style="color:white">
          <% if @member.mainlifetitle.present? %>
            <%= @member.mainlifetitle %>
          <% else %>
            Flip Over to Add Your Life Mission Statement
          <% end %>
        </div>
      </div>
      <div class="back">
        <wordbox>
            <div class="field"><%= f.text_field :mainlifetitle, :placeholder => "Main Life Title", :class => 'inputfield' %></div>
              <div class="field">
                <%= f.text_area :mainlifequote, :size => "30x10", :placeholder => "Add your own powerful personal statement for how you want your life to be.  Be great.  Think big.", :class => 'inputfield' %>
              </div>
          </wordbox>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
    <div class="flipper">
      <div class="front" style="background:orange">
        <div class="sectiontitle" style="color:white">
          <% if @member.desiredassets.present? %>
            Desired Assets<br/>
            <%= number_to_currency(@member.desiredassets) %>
          <% else %>
            Flip Over and Update with Your Asset Goals
          <% end %>
        </div>
      </div>
      <div class="back">
        <wordbox>
            <name>Asset Goals</name><br/>
              <description>
                Desired Assets:<br/>
                <%= f.text_field :desiredassets, :class => 'inputfield' %>
                <br/>
                Actual Assets:<br/>
                <%= f.text_field :actualassets, :class => 'inputfield' %>
              </description>
          </wordbox>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
    <div class="flipper">
      <div class="front" style="background:#31b7ea">
        <div class="sectiontitle" style="color:white">
          <% if @member.desiredcf.present? %>
            Desired Cashflow<br/>
            <%= number_to_currency(@member.desiredcf) %>
          <% else %>
            Flip Over and Update Your Cashflow Goals
          <% end %>
        </div>
      </div>
      <div class="back">
        <wordbox>
            <name>Cashflow Goals</name><br/>
              <description>
                Desired Monthly Cashflow:<br/>
                <%= f.text_field :desiredcf, :class => 'inputfield' %>
                <br/>
                Actual Monthly Cashflow:<br/>
                <%= f.text_field :actualcf, :class => 'inputfield' %>
              </description>
          </wordbox>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
    <div class="flipper">
      <div class="front" style="background:black">
        <div class="sectiontitle" style="color:white">
          <% if @member.actiontitle.present? %>
            <%= @member.actiontitle %>
          <% else %>
            Flip Over to Add Your Personal Action Statement
          <% end %>
        </div>
      </div>
      <div class="back">
        <wordbox>
              <div class="field">
                <%= f.text_field :actiontitle, :placeholder => 'Add Your Action Title', :class => 'inputfield' %>
                <%= f.text_area :actionquote, :size => "30x10", :placeholder => "Add your powerful personal statement here.  This is about you - put something that will motivate you here", :class => 'inputfield' %>
              </div>
          </wordbox>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
    <div class="flipper">
      <div class="front" style="background:black">
        <div class="sectiontitle" style="color:white">
          Change your Email
        </div>
      </div>
      <div class="back">
        <wordbox>
            <name>Change your Email</name><br/>
              <description>
                <div><%= f.label :email %><br />
                <%= f.email_field :email %></div>
          </wordbox>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button' %></p>
