<% @closedtasks.each do |task| %>
		<div class="box">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
					<div class="flipper">
					  	<div class="front" style="background:black">
					    <div class="sectiontitle" style="color:white"><%= task.name %></div>
					  </div>
					  <div class="back">
					    <wordbox>
			        		<name><%= task.name %></name><br/>
				        		<description>
				        			<% if task.duedate != nil %>
			        					<%= distance_of_time_in_words(Time.now,task.duedate) %> left to achieve it<br/>
			        				<% end %>
			        				Created <%= distance_of_time_in_words(Time.now,task.created_at) %> ago<br/>
				        			<% if task.goal_id.present? %>Goal: <%= link_to task.goal.name, goal_path(task.goal_id) %><% end %><br/>
				        				<%= task.duedate %><br/>
					        			<%= link_to 'Edit', edit_task_path(task) %> | 
					        			<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %> |
					        			<%= link_to 'Achieved', achieved_task_path(task) %>
					        	</description>
			        	</wordbox>
					  </div>
					</div>
				</div>
	    </div>
	<% end %>