<% @opentasks.each do |task| %>
		<div class="box">
			<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
					<div class="flipper">
						<% if task.duedate != nil %>
							<% if task.duedate.past? %>
								<div class="front" style="background:red;color:white">
							<% elsif task.duedate == Date.today %>
								<div class="front" style="background:gray;color:white">
							<% elsif task.duedate > Date.today %>
								<div class="front" style="background:green;color:white">
							<% end %>
						<% else %>
					  		<div class="front">
					  	<% end %>
					    <div class="sectiontitle" style="color:white"><%= task.name %></div>
					  </div>
					  <div class="back">
					    <wordbox>
			        		<name><%= task.name %></name><br/>
				        		<description>
				        			<% if task.duedate != nil && task.duedate >= Date.today %>
			        					<%= distance_of_time_in_words(Time.now,task.duedate) %> left to achieve it<br/>
			        				<% elsif task.duedate != nil && task.duedate < Date.today %>
			        					 <%= distance_of_time_in_words(Time.now,task.duedate) %> overdue!<br/>
			        				<% end %>
				        			Created <%= distance_of_time_in_words(Time.now,task.created_at) %> ago<br/>
					        		<% if member_signed_in? %>
			        					<% if task.goal_id.present? %>Goal: <%= link_to task.goal.name, goal_path(task.goal_id) %><% end %><br/>
					        				<%= task.duedate %><br/>
						        			<%= link_to 'Edit', edit_task_path(task) %> | 
						        			<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %> |
						        			<%= link_to 'Achieved', achieved_task_path(task) %>
						        	<% else %>
						        		<% if task.goal_id.present? %>Associated Goal: <%= task.goal.name %><% end %><br/>
						        		Due Date: <%= task.duedate %><br/>
						        	<% end %>
					        	</description>
			        	</wordbox>
					  </div>
					</div>
				</div>
	    </div>
	<% end %>