<%= currently_at 'Tasks' %>

<div class="topbanner">
    <% if member_signed_in? %>
        <%= link_to 'Add New Task', new_task_path, :method => 'get', :class => 'button-link' %>
    <% else %>
        <%= link_to 'Become a Member', new_member_registration_path, :class => 'button-link' %> and Create Your Own Tasks to Achieve!
    <% end %>
</div>

<%= render 'opentasktiles' %>

<div style="clear:both"/>
<hr/>

<%= render 'closedtasktiles' %>


