<div class="sectionsquare">
	<div style="float:right"><%= button_to "Edit", edit_member_registration_path(@member), :method => 'get', :class => 'button' %></div>
	<div class="sectiontitle">Personal Financial Statement</div>
	<div class="quote">
		"<%= @member.financialstatementquote %>"
	</div>
	<table width="100%">
		<tr>
			<td colspan="2" style="width:50%;text-align:center;font-size:1em">Assets</td>
			<td colspan="2" style="text-align:center;font-size:1em">Monthly Cash Flow</td>
		</tr>
		<tr>
			<td style="width:25%;text-align:center;background:gray;color:white">Desired</td>
			<td style="width:25%;text-align:center;background:gray;color:white">Actual</td>
			<td style="width:25%;text-align:center;background:gray;color:white">Desired</td>
			<td style="text-align:center;background:gray;color:white">Actual</td>
		</tr>
		<tr style="font-size:1.2em">
			<td style="font-size:.8em;text-align:center;padding:5px"><%= number_to_currency(@member.desiredassets) %></td>
			<td style="font-size:.8em;text-align:center;padding:5px"><%= number_to_currency(@member.actualassets) %></td>
			<td style="font-size:.8em;text-align:center;padding:5px"><%= number_to_currency(@member.desiredcf) %></td>
			<td style="font-size:.8em;text-align:center;padding:5px"><%= number_to_currency(@member.actualcf) %></td>
		</tr>
	</table>

</div>