<% currently_at 'Home' %>

	<% if member_signed_in? %>
	
	<% if notice %>
		<div id="notice" style="z-index:2">
			<%= notice %>
		</div>
	<% end %>

	<% if alert %>
	    <div id="alert" style="z-index:2">
	      <%= alert %>
	    </div>
	  <% end %>
	  
	<div class="topstatement">
		<% if @member.mainlifetitle == nil %>
			Now it's time to get started!  This page is designed to bring front and center; your high level objectives (top colored squares), your immediate tasks and closest goals.  But since you just joined, we have a bare cupboard.<br/><br/>
			So first thing, let's give these squares below your personal touch. Here's to your success!
		<% elsif @goals.empty? %>
			Looks like we could benefit from adding some goals, <%= link_to 'Click Here to Start', new_goal_path, :class => 'button-link' %>
		<% elsif @affirmations.empty? %>
			Looks like we could benefit from adding some affirmations, <%= link_to 'Click Here to Start Adding Them', new_affirmation_path, :class => 'button-link' %>
		<% elsif @goals.size == 1 %>
			Really?  One goal? You're better than that! <%= link_to 'Click Here to Add Another!', new_goal_path, :class => 'button-link' %>
		<% else %>
		Great to have you back!  Let's meet some more goals!  Push yourself!  Focus on the big goals.
		<% end %>	
	</div>

	<div class="topbanner">
		<%= link_to 'Edit Your Squares', edit_member_registration_path(@member), :method => 'get', :class => 'button-link' %>
		<%= link_to 'New Goal', new_goal_path, :method => 'get', :class => 'button-link' %>
		<%= link_to 'New Task', new_task_path, :method => 'get', :class => 'button-link' %>
		<%= link_to 'New Affirmation', new_affirmation_path, :method => 'get', :class => 'button-link' %>
	</div>
		<%= render 'ideal_life2' %>
		<%= render 'assets' %>
		<%= render 'cashflow' %>
		<%= render 'action' %>
		<div class="box">
			<div style="height:250px;width:250px;margin:0 25px"/>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-5451064655705220";
				/* block */
				google_ad_slot = "3023406262";
				google_ad_width = 250;
				google_ad_height = 250;
				//-->
				</script>
				<script type="text/javascript"
				src="//pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
		<%= render 'tasks/opentasktiles' %>
		<div class="box">
			<div style="height:250px;width:250px;margin:0 25px"/>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-5451064655705220";
				/* block */
				google_ad_slot = "3023406262";
				google_ad_width = 250;
				google_ad_height = 250;
				//-->
				</script>
				<script type="text/javascript"
				src="//pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
		<%= render 'goals/goals_nodate' %>
		<%= render 'goals/goaltiles_next30' %>
	<% else %>
	<div class="topbanner">
		<%= link_to 'Sign In', new_member_session_path, :method => 'get', :class => 'button-link' %>
		<%= link_to 'Become a Member', new_member_registration_path, :method => 'get', :class => 'button-link' %> 
	</div>
		<%= render 'hometiles' %>
	<% end %>
