<%= form_for(@affirmation) do |f| %>

<div class="topbanner" style="margin-bottom:20px">
  <%= f.submit 'Save', :class => 'button-link', :style => 'font-size:1.1em' %> this Affirmation or
  <%= link_to 'Go Back', affirmations_path, :class => 'button-link' %>
</div>

  <% if @affirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@affirmation.errors.count, "error") %> prohibited this affirmation from being saved:</h2>

      <ul>
      <% @affirmation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="inputbox">
  <div class="field">
    Type the Affirmation Below<br />
    <%= f.text_field :title, :class => 'inputfield' %>
  </div>
</div>

<% end %>
