<% currently_at 'Affirmations' %>

<h1>Listing affirmations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @affirmations.each do |affirmation| %>
  <tr>
    <td><%= affirmation.user_id %></td>
    <td><%= affirmation.title %></td>
    <td><%= link_to 'Show', affirmation %></td>
    <td><%= link_to 'Edit', edit_affirmation_path(affirmation) %></td>
    <td><%= link_to 'Destroy', affirmation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="flexslider">
  <ul class="slides">
    <% @affirmations.each do |affirmation| %>
      <li>
        <%= affirmation.title %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'New Affirmation', new_affirmation_path %>
