
<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box" style="background:#e9e9e9">
  <% if @goal.image? %>
  <div style="width:250px">
    <%= image_tag(@goal.image) %><br/>
      Current Picture<br/><br/>
        Change your picture: <%= f.text_area :image, size:"60", style:"font-size:.8em" %>
  </div>
  <% else %>
  <div style="padding-top:60px;text-align:center">
    Add a Picture<br/><br/>
    1. Find a picture on the web<br/>
    2. Right click and copy the "url"<br/>
    3. Then paste in the following field:<br/>
    <%= f.text_area :image, size:"60", style:"font-size:.8em" %>
  </div>
  <% end %>
</div>

<div class="box">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Addt'l Comments:<br />
    <%= f.text_area :description, size:"60" %>
  </div>
  <div class="field">
    <%= f.label :goaldate %><br />
    <%= f.date_select :goaldate %>
  </div>
  <div class="field">
    <%= f.label :progress %><br />
    <%= f.number_field :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
