<% @goals_next30.each do |goal| %>
		<div class="box">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
					<div class="flipper">
					  <div class="front" style="background:black">
					    <% if goal.image? %>
					    	<%= image_tag(goal.image) %>
					    <% else %>
					    	<div class="sectiontitle"><%= goal.name %></div>
					    <% end %>
					  </div>
					  <div class="back">
              <div class="wordbox-padding">
					    <wordbox>
			        		<name><%= goal.name %></name><br/>
			        		<% if member_signed_in? %>
				        		<description>
				        			<%= link_to 'Edit', edit_goal_path(goal) %> | <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Show Details', goal %> | <%= link_to 'Achieved!', achieved_goal_path(goal) %><br/><br/>
				        			<%= goal.description %><br/><br/>
				        			Target Date: <%= goal.goaldate.strftime('%m/%d/%Y') %><br/>
				        		</description>
			        		<% else %>
			        			<description>
			        				<% if goal.goaldate %>
			        					<%= distance_of_time_in_words(Time.now,goal.goaldate) %> left to achieve it<br/>
			        					Created <%= distance_of_time_in_words(Time.now,goal.created_at) %> ago
			        				<% end %>
			        			</description>
			        		<% end %>
			        	</wordbox>
              </div>
					  </div>
					</div>
				</div>
	    </div>
	<% end %>