<section id="regular_header">
	<div class="header">

		<div class="headerstandard">
			<%= link_to image_tag("Logo.png", size:"400x70"), root_path %>
		</div>
		<div class="headerright">
			<nav id="utility" style="text-align:right;font-size:.8em;padding:5px 20px 0 0">
			    <% if member_signed_in? %>
			    	<%= link_to current_member.email, edit_member_registration_path %> | <%= link_to "Sign Out", destroy_member_session_path, :method => :delete %> |
				    <% if current_member.admin? %>
				    	<%= link_to 'Admin', members_path %>
				    <% else %>
				    	<%= link_to 'Help', 'mailto:dedkins@edkinsgroup.com?subject=Help with SuccessPath Please' %>
				    <% end %>
			    <% else %>
			    	<%= link_to "Sign In", new_member_session_path %> | 
			    	<%= link_to "Sign Up", new_member_registration_path %> |
			    	<%= link_to "Help", 'mailto:dedkins@edkinsgroup.com?subject=Help with SuccessPath Please' %>
			    <% end %>
			</nav>
			<%= yield :main_navigation %>
		</div>

	</div>
</section>
<section id="mobile_header">
		<div class="headermobile">
			<%= link_to image_tag("Logo.png", size:"300x50"), root_path %>
		</div>

		<div class="headerright">
			<%= yield :main_navigation %>
		</div>

</section>

<section id="iphone_header">
		<div class="headeriphone">
			<%= link_to image_tag("Logo.png", size:"450x80"), root_path %>
		</div>

		<div class="headerright">
			<%= yield :main_navigation %>
		</div>
</section>


