<!DOCTYPE html>
<html>
<head>
  <title>Successpath!</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="True" name="HandheldFriendly">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" media="screen" href="http://www.devslide.com/public/labs/browser-detection/browser-detection.css" />
  <script type="text/javascript" src="http://www.devslide.com/public/labs/browser-detection/browser-detection.js">
  <script type="text/javascript">
  <!--
  var displayPoweredBy = false;
  var notSupportedBrowsers = [{'os': 'Any', 'browser': 'MSIE', 'version': 10}];
  var noticeLangCustom = {
  "title": "Certain Features May Not Be Viewable",
  "notice": "We use a newer website technology that flips items over - some browsers (especially Microsoft) seem to have a challenge with it. One way to see if your browser supports this is to try to flip over any of the squares on this page. If hovering over them does not work, your browser is not supported. Try another. Thank you.",
  "selectBrowser": "If you wanted to try to update your browser, click one of the following icons",
  "remindMeLater": "Remind Me Later",
  "neverRemindAgain": "I Got It; Don't Remind Me Again!" };
  // -->
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-16925588-12', 'successpath.me');
    ga('send', 'pageview');

  </script>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: true,
        animationSpeed: 600,
        directionNav: true,
        touch: true, 
        animation: "slide",
        slideshowSpeed: 3500,
      });
    });
  </script>

</head>
<body>
<div class="container">
  <div class="header">
    <%= render 'layouts/header' %>
  </div>
  <div class="yield">
    
    <%= yield %>

  </div>
  
</div>
<div class="clearfooter"></div>
<div class="footer">
    <% if member_signed_in? %>
      <%= link_to "Sign Out", destroy_member_session_path, :method => :delete, :class => 'button-link' %> 
    <% else %>
      <%= link_to 'Sign-In!', new_member_session_path, :class => 'button-link' %> <%= link_to "Become a Member", new_member_registration_path, :class => 'button-link' %>
    <% end %>
    <%= link_to 'Help', 'mailto:dedkins@edkinsgroup.com?subject=Help with SuccessPath Please', :class => 'button-link' %> <br/><br/>
    Copyright 2014 | Edkins Group
  </div>
</body>
</html>
